<%= bootstrap_form_for(@brain_candy, html: {multipart: true}) do |f| %>
    <%= f.alert_message "Please fix the errors below." %>
    <%= f.text_field :name %>
    <%= f.select :difficulty_level_id, DifficultyLevel.all.map { |dl| [dl.name, dl.id] }, label: "Difficulty" %>

    <p><%= brain_candy_photo %></p>

    <%= f.file_field :photo, label: :none %>

    <%= f.actions do %>
        <%= f.primary "Submit", disable_with: 'Working...' %>
    <% end %>
<% end %>
