<h1>Listing brain_candies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Difficulty level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brain_candies.each do |brain_candy| %>
  <tr>
    <td><%= brain_candy.name %></td>
    <td><%= brain_candy.difficulty_level_name %></td>
    <td><%= link_to 'Show', brain_candy %></td>
    <td><%= link_to 'Edit', edit_brain_candy_path(brain_candy) %></td>
    <td><%= link_to 'Destroy', brain_candy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brain candy', new_brain_candy_path %>
