<p>
  <b>Name:</b>
  <%= @brain_candy.name %>
</p>

<p>
  <b>Difficulty level:</b>
  <%= @brain_candy.difficulty_level_name %>
</p>

<p><%= brain_candy_photo %></p>

<%= link_to 'Edit', edit_brain_candy_path(@brain_candy) %> |
<%= link_to 'Back', brain_candies_path %>
