<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <% @users.each do |u| %>
        <th><%= u.email %></th>
    <% end %>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @brain_candies.each do |bc| %>
      <tr>
        <td><%= image_tag bc.photo.url(:thumb) %></td>
        <td><%= bc.name %></td>
        <% @users.each do |u| %>
            <td>
              <%= show_candy_status u.candy_status(bc) %>
              <%= link_to "Verify!", verify_brain_candy_path(bc, user_id: u.id), method: :post, class: "pull-right" if u.candy_status(bc) == :claimed and u != current_user %>
            </td>
        <% end %>
        <td><%= link_to "Claim completed!", claim_complete_brain_candy_path(bc), method: :post if current_user.candy_status(bc) == :unsolved %></td>
      </tr>
  <% end %>
  </tbody>
</table>